<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="~/stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
    <link rel="~/stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
    <link href="~/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="~/stylesheet" href="css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/js/owl.carousel.js"></script>
    <script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({

		  autoPlay: 3000, //Set AutoPlay to 3 seconds

		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]

		});

	});
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
</head>
<body>
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Product", "Products", "Home", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Movies", "Movies", "Home", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Games", "Games", "Home", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Music", "Music", "Home", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("News", "News", "Home", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("About Us", "Aboutus", "Home", new { area = "" }, new { @class = "" })</li>
                           
                          
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
   

    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>